/* General styling */

html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}

.bar, .info h2 {
  color: white;
  font-size: 1rem;
  background-color: cadetblue;
}

/* Header - General styling */

header {
  background-image: url("../Images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 31rem;
}

@media only screen and (max-width: 768px) {
  header {
    height: 22rem;
  }
}

@media only screen and (max-width: 650px) {
  header {
    height: 17rem;
    background-position: 20%;
  }
}

/* Header - Navigation bar styling */
.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 1rem;
}

@media only screen and (max-width: 768px) {
  .bar {
    top: 0rem;
  }
}

.company {
  display: flex;
  align-items: center;
}

.company img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation li {
  list-style: none;
  padding: 1rem;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 650px) {
  .large {
    display: none;
  }
  .mobile {
    display: flex;
    align-items: center;
  }
}

/* Header - Title styling */

.main-title {
  display: flex;
  justify-content: flex-end;
}

.title {
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  position: relative;
  top: 10rem;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .title {
    top: 5rem;
    right: 2rem;
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 650px) {
  .title {
    top: 9rem;
    right: 0rem;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0;
  }
}

/* Service section styling */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 650px) {
  .products {
    flex-direction: column;
    margin: 3.77rem auto;
  }
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}

@media only screen and (max-width: 650px) {
  .product {
    margin: 0;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .product span {
    font-size: 0.77rem;
    padding-top: 1.54rem;
  }
  .exams, .custom {
    margin-bottom: 1.54rem;
  }
}

.exams img {
  width: 3.5rem;
  height: auto;
  display: block;
  margin: 0 auto;
}

.custom img, .delivery img {
  width: 5rem;
  height: auto;
  display: block;
}

/* Info section styling */
.info {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 650px) {
  .info {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}

.detail {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 650px) {
  .detail {
    align-items: center;
    width: 100%;
    margin-bottom: 4rem;
  }
  .detail h2 {
    text-align: center;
    max-width: none;
  }
  .detail p {
    margin-top: 1rem;
    font-size: 0.77rem;
    margin-right: 5%;
    margin-left: 1%;
  }
}

.detail h2 {
  width: 10rem;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

.philosophy p {
  margin-right: 5%;
}

/* Footer styling */

footer .container {
  background-color: azure;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
  margin-left: 4rem;
  margin-right: 1rem;
  padding: 4rem 0;
}

@media only screen and (max-width: 650px) {
  footer p {
    display: none;
  }
  footer .container {
    justify-content: center;
  }
}
